#Taller en Clase: Valentina Velosa

In [ ]:
#Ejercicio 1

In [ ]:
def datos_personales():
  nombre1 = str(input("Escriba su primero nombre "))
  nombre2 = str(input("Escriba su segundo nombre, si no aplica ponga, no) ")) 
  apellido1 = str(input("Escriba su primer apellido "))
  apellido2 = str(input("Escriba su segundo apellido, si no aplica ponga, no "))
  edad = int(input("¿Cual es su edad? "))
  direccion = input("¿Cual es su direccion? ")
  if nombre2 == "no":
    print("Mi nombre es ", nombre1 , apellido1 , apellido2 , "tengo ", edad ,"años ", "y vivo en la " ,direccion)
  elif apellido2 == "no":
    print("Mi nombre es ", nombre1 , nombre2 , apellido1 , "tengo " ,edad ,"años " , "y vivo en la ", direccion)
  else:
    print("Mi nombre es ", nombre1 , nombre2 , apellido1 , apellido2 , "tengo ", edad ,"años ","y vivo en la ", direccion)

In [ ]:
datos_personales()

Escriba su primero nombre Valentina
Escriba su segundo nombre, si no aplica ponga, no) no
Escriba su primer apellido Velosa
Escriba su segundo apellido, si no aplica ponga, no Garcia
¿Cual es su edad? 21
¿Cual es su direccion? Carrera 56 #151-51
Mi nombre es  Valentina Velosa Garcia tengo  21 años  y vivo en la  Carrera 56 #151-51

In [ ]:
#Ejercicio 2

In [ ]:
def nombre():
  x = str(input("Escriba su nombre "))
  print("Hola " +  x )

In [ ]:
nombre()

Escriba su nombre Valentina
Hola Valentina

In [ ]:
#Ejercicio 3

In [ ]:
def area_cuadrado():
  a = float(input("Indique cual es la medida del lado 1 "))
  b = float(input("Indique cual es la medida del lado 2 "))
  print(a * b)

In [ ]:
area_cuadrado()

Indique cual es la medida del lado 1 10
Indique cual es la medida del lado 2 2
20.0

In [ ]:
#Ejercicio 4

In [ ]:
def area_rectangulo():
  a = float(input("Indique cual es la medida de la base "))
  b = float(input("Indique cual es la medida de la altura "))
  print((a * b))

In [ ]:
area_rectangulo()

Indique cual es la medida de la base 10
Indique cual es la medida de la altura 2
20.0

In [ ]:
#Ejercicio 5

In [ ]:
def area_triangulo():
  a = float(input("Indique cual es la medida de la base "))
  b = float(input("Indique cual es la medida de la altura "))
  print((a * b)/2)

In [ ]:
area_triangulo()

Indique cual es la medida de la base 10
Indique cual es la medida de la altura 2
10.0

In [ ]:
#Ejercicio 6

In [ ]:
def reciclaje():
  n = int(input("Ingrese el pago que recibió por su reciclaje: "))
  if n == 1000:
    print("Usted recicló una botella de 1 litro") 
  elif n == 2000:
    print("Usted recicló una botella de 1.5 litros")
  elif n == 3000:
    print("Usted recicló una botella de 2 litros")

In [ ]:
reciclaje()

Ingrese el pago que recibió por su reciclaje: 2000
Usted recicló una botella de 1.5 litros

In [ ]:
#Ejercicio 7

In [ ]:
def total():
  costo = float(input("Ingrese el costo que pago por su comida "))
  impuesto = (costo * 0.08)
  propina = float(input("Ingrese el valor de la propina que pago "))
  total= costo + impuesto + propina
  return f"El total de su cuenta es: {total}"

In [ ]:
total()

Ingrese el costo que pago por su comida 10000
Ingrese el valor de la propina que pago 2000

'El total de su cuenta es: 12800.0'

In [ ]:
#Ejercicio 8

In [ ]:
def unidades_por_producto():
  a = 123 
  b = 35 
  unidadesA = int(input("Diga cuantas unidades desea del producto A "))
  unidadesB = int(input("Diga cuantas unidades desea del producto B "))
  total_peso = ((a * unidadesA) + (b * unidadesB))
  if total_peso % 2 == 0:
    print("Su peso es" , total_peso)
  else:
    print("Su peso es", total_peso , "pero no puede vender")

In [ ]:
unidades_por_producto()

Diga cuantas unidades desea del producto A 3
Diga cuantas unidades desea del producto B 7
Su peso es 614

In [ ]:
unidades_por_producto()

Diga cuantas unidades desea del producto A 49
Diga cuantas unidades desea del producto B 22
Su peso es 6797 pero no puede vender

In [ ]:
#Ejercicio 9

In [ ]:
def cambio():
  y = str(input("Escriba si llego en carro, moto o bicicleta "))
  x = float(input("Escriba su tiempo empleado "))
  z = float(input("Escriba con cuanto va a pagar "))
  valor_minuto_moto = 42
  valor_minuto_carro = 70
  valor_minuto_bicicleta = 10
  total_carro = (valor_minuto_carro * x)
  total_moto = (valor_minuto_moto * x)
  total_bicicleta =(valor_minuto_bicicleta * x)
  if y == "carro":
    print("Su cambio es", ( z - (total_carro)))
  elif y == "moto":
    print("Su cambio es", ( z - (total_moto)))
  elif y == "bicicleta":
    print("Su cambio es", (z - (total_bicicleta )))

In [ ]:
cambio()

Escriba si llego en carro, moto o bicicleta carro
Escriba su tiempo empleado 10
Escriba con cuanto va a pagar 2000
Su cambio es 1300.0

In [ ]:
##Ejercicio 10

In [ ]:
def area_perimetro():
  radio = float(input("Ingrese la medida que tiene el radio del circulo "))
  area = (3.1416 * ((radio) **2))
  perimetro = (2 * 3.1416 * radio)
  print("El valor de su area es: ", area )
  print("El valor de su perimetro es: " , perimetro)

In [ ]:
area_perimetro()

Ingrese la medida que tiene el radio del circulo 10
El valor de su area es:  314.15999999999997
El valor de su perimetro es:  62.832

In [ ]:
##Ejercicio 11

In [ ]:
def años_cumplidos():
  año_nacimiento = int(input("Escriba el año en que nacio: "))
  mes_nacimiento = int(input("Escriba el mes en el que nacio en numero (cada mes tiene 30 dias): "))
  dia_nacimiento = int(input("Escriba el dia en que nacio: "))
  año_actual = int(input("Escriba el año en el que estamos: "))
  mes_actual = int(input("Escriba el mes en el que estamos en numero (cada mes tiene 30 dias): "))
  dia_actual = int(input("Escriba el dia en el que estamos: "))
  resultado = ((año_actual - año_nacimiento) , (mes_actual - mes_nacimiento), (dia_actual - dia_nacimiento))
  return f"Su edad actual es: {resultado}"

In [ ]:
años_cumplidos()

Escriba el año en que nacio: 2001
Escriba el mes en el que nacio en numero: 02
Escriba el dia en que nacio: 09
Escriba el año en el que estamos: 2022
Escriba el mes en el que estamos en numero: 03
Escriba el dia en el que estamos: 24

'Su edad actual es: (21, 1, 15)'

In [ ]:
##Ejercicio 12

In [ ]:
def temperatura():
  celsius = float(input("Ingrese la temperatura en grado celsius: "))
  conversion_fahrenheit = ((celsius * 1.8) + 32)
  conversion_kelvin = (celsius + 273.15)
  return f"Su temperatura en grados fahrenheit es: {conversion_fahrenheit} y su temperatura en grados kelvin es: {conversion_kelvin}"

In [ ]:
temperatura()

Ingrese la temperatura en grado celsius: 0

'Su temperatura en grados fahrenheit es: 32.0 y su temperatura en grados kelvin es: 273.15'

In [ ]:
##Ejercicio 13

In [ ]:
def valores():
  x= input("Ingrese cinco numeros: ")
  print(x)
  numeros = x.split()
  print(numeros)
  numeros = [int(i) for i in numeros]
  print(numeros)
  print("La suma de sus elementos es ", sum(numeros), ", el valor maximo es ", max(numeros) , "y el valor minimo es ", min(numeros))

In [ ]:
valores()

Ingrese cinco numeros: 1 2 3 4 5
1 2 3 4 5
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]
La suma de sus elementos es  15 , el valor maximo es  5 y el valor minimo es  1

In [ ]:
##Ejercicio 14

In [ ]:
def dias_mes():
  mes = str(input("Escriba el mes que desee en minusculas, para saber cuantos dias tiene: "))
  if mes == "enero":
    print(31)
  elif mes == "febrero":
    print(28)
  elif mes == "marzo":
    print(31)
  elif mes == "abril":
    print(30)
  elif mes == "mayo":
    print(31)
  elif mes == "junio":
    print(30)
  elif mes == "julio":
    print(31)
  elif mes == "agosto":
    print(31)
  elif mes == "septiembre":
    print(30)
  elif mes == "octubre":
    print(31)
  elif mes == "noviembre":
    print (30)
  elif mes == "diciembre":
    print(31)

In [ ]:
dias_mes()

Escriba el mes que desee en minusculas, para saber cuantos dias tiene: marzo
31

In [ ]:
##Ejercicio 15

In [ ]:
def categoria():
  edad = int(input("Escriba su edad en numeros: "))
  if edad < 18:
    print("Usted es menor de edad")
  elif edad >= 18 and edad <= 45:
    print("Usted es adulto joven")
  elif edad >= 45 and edad <= 60:
    print("Usted es un adulto")
  else:
    print("Usted es un adulto mayor")

In [ ]:
categoria()

Escriba su edad en numeros: 82
Usted es un adulto mayor

In [ ]:
categoria()

Escriba su edad en numeros: 22
Usted es adulto joven

In [ ]:
##Ejercicio 16

In [ ]:
def personaje_billete():
  billete = int(input("Ingrese aqui el valor del billete que desea consultar "))
  if billete == 1000:
    print("El personaje del billete es: Jorge Eliecer Galan")
  if billete == 2000:
    print("El personaje del billete es: Debora Arango")
  if billete == 5000:
    print("El personaje del billete es: Jose Asuncion Silva")
  if billete == 10000:
    print("El personaje del billete es: Virginia Gutierrez")
  if billete == 20000:
    print("El personaje del billete es: Alfonso Lopez Michelsen")
  if billete == 50000:
    print("El personaje del billete es: Gabriel Garcia Marquez")
  if billete == 100000:
    print("El personaje del billete es: Carlos Lleras Restrepo")

In [ ]:
personaje_billete()

Ingrese aqui el valor del billete que desea consultar 20000
El personaje del billete es: Alfonso Lopez Michelsen

In [ ]:
##Ejercicio 17

In [ ]:
lista1 = [3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45]

a. Agrege el número 10.

In [ ]:
lista1.append(10)

In [ ]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10]

b. Agregue el número 3.

In [ ]:
lista1.append(3)

In [ ]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10, 3]

c. Agregue simultaneamente los numeros 5, 6 y 7.

In [ ]:
lista1.extend([5,6,7])

In [ ]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10, 3, 5, 6, 7]

d. Elimine el último elemento.

In [ ]:
lista1.pop()

7

In [ ]:
lista1

[3, 5, 1, 9, 10, 11, 32, 21, 5, 1, 209, 432, 1, 32, 45, 10, 3, 5, 6]

e. Ordene la lista de manera ascendente.

In [ ]:
lista1.sort()

In [ ]:
lista1

[1, 1, 1, 3, 3, 5, 5, 5, 6, 9, 10, 10, 11, 21, 32, 32, 45, 209, 432]

f. Elimine el ultimo elemento.

In [ ]:
lista1.pop()

432

In [ ]:
lista1

[1, 1, 1, 3, 3, 5, 5, 5, 6, 9, 10, 10, 11, 21, 32, 32, 45, 209]

g. Ordene la lista de manera descendente

In [ ]:
lista1.reverse()

In [ ]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 5, 3, 3, 1, 1, 1]

h. Elimine el elemento en la posición 10

In [ ]:
lista1.remove(5)

In [ ]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 3, 3, 1, 1, 1]

i,j,k. Agregue el 10, el 345 y el 1

In [ ]:
lista1.append(10)

In [ ]:
lista1.append(345)

In [ ]:
lista1.append(1)

In [ ]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 9, 6, 5, 5, 3, 3, 1, 1, 1, 10, 345, 1]

l. Elimine el 9

In [ ]:
lista1.remove(9)

In [ ]:
lista1

[209, 45, 32, 32, 21, 11, 10, 10, 6, 5, 5, 3, 3, 1, 1, 1, 10, 345, 1]

m. Invierta el orden de la lista

In [ ]:
lista1.reverse()

In [ ]:
lista1

[1, 345, 10, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 11, 21, 32, 32, 45, 209]

n. Organice la lista

In [ ]:
lista1.sort()

In [ ]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45, 209, 345]

o. Por medio de un bucle, imprima solamente los datos pares de la lista al cuadrado

In [ ]:
for i in lista1:
  if i % 2 == 0:
    print(i**2)

36
100
100
100
1024
1024

p. Por medio de un bucle, imprima solamente los elementos múltiplos de 3 al cubo

In [ ]:
for i in lista1:
  if i % 3 == 0:
    print(i**3)

27
27
216
9261
91125
41063625

q. Elimine el ultimo elemento

In [ ]:
lista1.pop()

345

In [ ]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45, 209]

r. Elimine el último elemento

In [ ]:
lista1.pop()

209

s. Llame la lista

In [ ]:
lista1

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45]